###
# My
###

WHAT-IS-BEHIND-THE-DOOR_BrackeysGameJam2024.1/Assets/Import/Rooms/free car parking lot/uploads_files_4562929_textures.zip
WHAT-IS-BEHIND-THE-DOOR_BrackeysGameJam2024.1/Assets/Import/Rooms/Hospital interior/uploads_files_3198702_Hospital.blend
WHAT-IS-BEHIND-THE-DOOR_BrackeysGameJam2024.1/Assets/Import/Rooms/Living room- warm lighting/uploads_files_2447090_living+room+archives.rar
WHAT-IS-BEHIND-THE-DOOR_BrackeysGameJam2024.1/Assets/Import/Houses/005/uploads_files_2186762_-p_hut_003_export.zip

###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
